
<router-outlet></router-outlet>
<app-home></app-home>

<!-- {{name}}
{{5+3}}<br>
{{test()}}
<div style.background-color="{{color}}">Hello</div>

<p class="{{cName}}"></p>

user name is {{user.name}} and age is {{user.age}}
{{user.title}} -->

<!-- property binding -->
<!-- <p [class]="cName"></p>

<div [innerHtml] = "x"></div> -->

<!-- event binding -->
<!-- <div [class] = "cName" (click) ="handleClick()"></div> -->
<!-- {{counter}} -->

<!-- <input (input)="handleInput($event)">{{data}}

<input (keyup.enter)="data1=$any($event.target).value">{{data1}} -->

<!-- Tow way binding -->
<!-- <input [(ngModel)]="z">
{{z}} -->


