{{>header}}
{{>navbar}}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nmae</th>
                <th scope="col">Age</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Rehab</td>
                <td>30</td>
                <td>
                    <a href="/show" class="btn btn-primary m-1">show</a>
                    <a href="/edit" class="btn btn-warning m-1">Edit</a>
                    <a href="/del" class="btn btn-danger m-1">Delete</a>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Rehab</td>
                <td>30</td>
                <td>
                    <a href="/show" class="btn btn-primary m-1">show</a>
                    <a href="/edit" class="btn btn-warning m-1">Edit</a>
                    <a href="/del" class="btn btn-danger m-1">Delete</a>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Rehab</td>
                <td>30</td>
                <td>
                    <a href="/show" class="btn btn-primary m-1">show</a>
                    <a href="/edit" class="btn btn-warning m-1">Edit</a>
                    <a href="/del" class="btn btn-danger m-1">Delete</a>
                </td>
            </tr>
           
        </tbody>
    </table>
</div>
{{>footer}}